/* Reset */
html,body,div,ul,ol,li,dl,dt,dd,h1,h2,h3,h4,h5,h6,pre,form,p,blockquote,fieldset,input, table, td, tr {margin: 0; padding: 0;}
h1,h2,h3,h4,h5,h6,pre,code,address,caption,cite,code,em,strong,th{font-size: 1em;font-weight: normal; font-style: normal;}
fieldset { border: none; }
a img {border: none;}
a:focus, a:active { outline: none; }
li { display: inline; }
body {font-family:Arial,Helvetica,sans-serif; font-size: 16px; }

body { color: #444444; }

h3 { font-size: 120%; font-weight: bold; margin-bottom: 0.5em; }

.header { background-color: #dfa409; padding-bottom: 0.5em; margin-bottom: 2em; padding-top: 0.5em; }
.header .title { font-size: 250%; color: white;  }
.header .tagline { color: #555555; }

.header .files { float: right; }
.header .files .version { float: left; }
.header .files .file { float: left; margin-left: 30px; }

.content { margin-bottom: 2em; }

.layout { width: 980px; margin-left: auto; margin-right: auto; clear: both; }

.main {  width: 600px; float: left; }

.main p { margin-bottom: 1em; }

ul.pretty { margin-bottom: 1em; }
ul.pretty li { display: list-item; margin-left: 2em; margin-bottom: 0.6em; }

.sidebar { width: 330px;  margin-left: 650px;}

.footer { height: 50px; clear: left;  }